.color_standard
{
color: #1F64EF;
}

.hover_black:hover
{
    color: black;
    
}

.card-body:hover
{
    color: #4D82AA;
    box-shadow: 10px 10px 5px lightblue;
}

.hover_enlarge:hover
{
    
    -webkit-transform: scale(1.2); 
}

.navigation
{
    color: #1F64EF;
}

.nav_hover:hover
{
    color:black;
    

}

.hover_stroke_black:hover
{
    -webkit-text-stroke-color: black; color: white; font-size: 400%; 
}

.heading_name
{
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: #1F64EF; color: white; font-size: 400%; 
    -webkit-transition: transform 0.5s ease-in-out;
 
}

.hover_shift_left:hover
{
    transform: translate(-2.1rem);
}


.job_title
{
   
    -webkit-transition: transform 0.5s ease-in-out;
    display: inline-block;
}

.test{
    transform: rotate(180deg);
}

.rotate_infinite
{
    animation: spin 3s linear infinite;
    @keyframes spin {
        0%{
            transform: rotate(0);
        }
        100{
            transform: rotate(360deg);
        }
    }
}